
/******************************************************************************

               Html Portefolio   Viviane Cooper 2023

*******************************************************************************/


h1
{
	/*color: purple;*/
	margin-left: 3%;
	margin-right: 3%;
	text-align: center;
}
/*******************************************************************************/
h3
{
	margin-left: 3%;
	margin-right: 3%;
}
/*******************************************************************************/
h4
{
	margin-left: 3%;
	margin-right: 3%;
}
/*******************************************************************************/

p
{
	margin-left: 3%;
	margin-right: 3%;
	display: inline;
}
/*******************************************************************************/

/* Supprime les marges appliqué par défaut sur certains navigateur + ajoute un background */
body
{
	/* background-color: rgba(0,0,255, 0.3); */
	background-color: #8BC6EC;
	background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
	margin: 0px;
	padding: 0px;
	padding-top: 50px;
}

/* Pour la barre de navigation 
Fait en sorte qu'elle soit toujours en haut, et devant tout les éléments
Puis elle prend toute la largeure et une couleur de fond*/
nav
{
	position: fixed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-image: url("motif_nav.png");
	background-repeat: repeat-x;
	
}

/* supprime les différentes marge créé par défaut avec les listes */
nav ul
{
	margin-left: 1px;
	margin-right: 1px;
	padding: 0px;
	overflow: hidden;
}

/* Supprime les points au début de chaque élément et les aligne sur la gauche */
nav li
{
	list-style-type: none;
	float: left;
}

/* Met les liens en "inline-block" à la place de block, puis supprime la barre de soulignage tout en rajoutant de l'espace entre chaque élément, ainsi qu'en 
haut et en bas */
nav a
{
	display: inline-block;
	text-decoration: none;
	padding: 5px 60px;
}

/* Change la couleur du fond lorsque l'on passe la souris dessus */
nav li:hover
{
	background-color: #8d8d8d;
}

/* Change l'apparence du texte lorsque l'on passe la souris dessus */
nav li:hover a
{
	text-decoration: underline;
	color: blue;
}

/*******************************************************************************/

/* Permet de changer le curseur lors des passages sur les liens */
a, input.click
{
	cursor: pointer;
}
/*******************************************************************************/
.container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: 3%;
  margin-right: 3%;
  justify-content: flex-start;
  column-count: 3;
  column-gap: 20px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  flex-grow: 1;
  flex-basis: 0;
}

.images img {
  margin-right: 5px;
  margin-bottom: 10px;
  width: calc((100% / 3) - 5px);
}

.text {
  margin-left:5px;
  flex-grow: 0;
  flex-basis: auto;
  break-inside: avoid;
  clear: both;
  width: 45%; 
}